*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}
body{
    background-color: teal;
    color: white;
    font-size: 1rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    background-color: lightseagreen;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
}
p{
    margin-bottom: 1rem;
    color: black;
}
.form-group{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}
input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
input:hover{
    border-color: black;
}
.btn-primary{
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: black;
}
.form-options{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.form-options a{
    color: black;
}
.form-options a:hover{
    text-decoration: underline;
}
.signup-link{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.signup-link a{
    color: black;
    font-weight: bold;
}
.signup-link a:hover{
    text-decoration: underline;
}

