* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    background-color: darkslategrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 1.2rem;
}
form{
    background-color: teal;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;

}
h1{
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: rgb(41, 38, 38);
}
p{
    text-align: center;
    margin-top: 1rem;
    gap: 0.5rem;
    color: rgb(29, 27, 27);
}
.formgroup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
input:hover{
    background-color: lightgray;
}
.formoptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
}
a{
    color: navy;
    font-weight: 0.2rem;
    text-decoration: underline;

}
a:hover{
    color: black;
}
.btn-primary{
    background-color: rgb(17, 17, 39);
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 1rem;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: navy;
}
.signup-link{
    color: navy;
    font-weight: 0.2rem;
    text-decoration: underline;
}
.signup-link:hover{
    color: black;
}